name: Build and Push Image

on:
  workflow_call:
    inputs:
      tags:
        type: string
        required: true
        description: "List of tags"
      build-args:
        type: string
        required: false
        description: "List of build-time variables"
      file:
        type: string
        required: false
      cache-to:
        type: string
        default: type=inline
        required: false
      cache-from:
        type: string
        required: false
      registry:
        type: string
        default: reg.dev.krd
        required: false
    secrets:
      username:
        required: true
      password:
        required: true

jobs:
  build-push:
    name: Build and Push
    runs-on: [self-hosted, ubuntu-focal]
    timeout-minutes: 10
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v3
        with:
          push: true
          file: ${{ inputs.file }}
          tags: ${{ inputs.tags }}
          cache-to: ${{ inputs.cache-to }}
          cache-from: ${{ inputs.cache-from }}
          build-args: ${{ inputs.build-args }}
