name: Build and Push Image

on:
  workflow_call:
    inputs:
      k8s-namespace:
        type: string
        required: true
        description: the namespace of the resource to be scanned

      k8s-resource:
        type: string
        required: false
        description: the name of the resource to be scanned in the following format (resourceType/respurceName) Example=  deployment/myDeploymentName

      trivy-exit-code:
        type: number
        required: false
        default: 0
        description: Exit code when vulnerabilities were found

      trivy-severity:
        type: string
        required: false
        default: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
        description: severities of vulnerabilities to be displayed (comma separated)

      trivy-format:
        type: string
        required: false
        default: table
        description: How to display the results

      trivy-report:
        type: string
        required: false
        default: summary
        description: type of report (summary or all)
        # using all with table format causes an error, avoid using it until further update from trivy
        # https://github.com/aquasecurity/trivy/milestone/6

jobs:
  scan:
    name: Scan k8s for vulnerabilities
    runs-on: [self-hosted, ubuntu-focal]
    timeout-minutes: 10
    steps:
      - name: Check k8s vulnerability
        run: |

          # move to temp director
          mkdir -p "${{ runner.temp }}/trivy"
          cd ${{ runner.temp }}/trivy

          # download and extract trivy
          wget -q https://github.com/aquasecurity/trivy/releases/download/v0.28.1/trivy_0.28.1_Linux-64bit.tar.gz
          tar -xvzf trivy_0.28.1_Linux-64bit.tar.gz

          # run trivy scan
          ./trivy k8s --report ${{ inputs.trivy-report }} \ 
                      --format ${{ inputs.trivy-format }} \
                      --severity ${{ inputs.trivy-severity }} \
                      --exit-code ${{ inputs.trivy-exit-code }} \
                      --namespace ${{ inputs.k8s-namespace }} \
                      ${{ inputs.k8s-resource }}
